.Explore {
  padding: 2vh 5vw;
  background-color:white;
  width: 100vw;

  display: flex;
  gap: 5vw;
 
}
.Calendar {
  background-color: white;
  padding: 2vh 1vw;
  height: 100%;
  width: 40%;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.ExploreQuestion {
  background-color: rgba(211, 244, 237, 0.735);
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  border-radius: 2vh;
  height: 100%;
  width: 70%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.CalendarCompo {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 300;
  border-radius: 2vh;
  background-color: #d7f6f0; /* default background color */
  transition: background-color 0.3s ease; /* smooth transition */
  cursor: pointer; /* Change cursor on hover */
  
  
}

.CalendarCompo:hover {
  background-color: var(--hover-bg-color);
}

.upcomingContest,
.pastContest {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  border-radius: 2vh;
}

/* Submissions.css */

/* Define some color variables for easy customization */
:root {
  --primary-color: #5a9bd4; /* Light blue */
  --secondary-color: #333; /* Dark gray */
  --background-color: #c3feff; /* Light gray background */
  --highlight-color: #ffeb3b; /* Yellow highlight */
  --text-color: #555; /* Medium gray text */
}

.Submissions {

  border-radius: 2vh;
  padding: 1vh 2vw;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Submissions:hover {
  cursor: pointer;
  transition-delay: 1ms;
  transform: scale(1.005);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 8px 16px rgba(0, 0, 0, 0.25),
    /* inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1); */
}

.owner {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.submitted_question {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  padding: 1vh 1vw;
  border-radius: 1vw;
  
  
}

.submitted_stats {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-color);
}

.submitted_stats p {
  margin: 0;
}

/* Add hover effects for individual stats */
.submitted_stats p:hover {
  color: var(--highlight-color);
}
.submitted_stats img {
  width: 22px;
  margin:0 4px;

}


.username{
  color: #0088ff;
}
.timeOfCreation{
  color: rgb(161, 155, 249);
}

/* Calendar.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}
