.home_display {
  padding: 4vh;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: white;
}

.HomeLeft,
.HomeRight {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.HomeLeft {
  padding: 2vh;
  width: 25%;
}

.HomeLeft img {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border-radius: 2vh;
  margin-bottom: 2vh;
}

.profile_section {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.profile_section p {
  font-size: large;
}

.HomeRight {
  width: 72%;
}

.layer1 {
  padding: 4vh;
  display: flex;
  margin-bottom: 20px;
  gap: 2vw;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.codingPlatforms {
  padding: 1vh 2vw;
  height: 20vh;
  width: 60%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.codingPlatforms img {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  object-fit: cover;
}

.cpimages {
  display: flex;
  gap: 3vw;
  margin-bottom: 2vh;
}

.cpimages img:hover,
.cpimages img:active,
.cpimages img.scaled {
  transform: scale(1.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.linktocp {
  text-decoration: none;
  font-size: 15px;
}
.techStack {
  margin-left: 1vw;
  padding: 1vh 2vw;
  width: 90%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.language_compo,
.AddMore {
  width: 5vw;
  height: 5vh;
  border: none;
  border-radius: 2vh;
  margin: 5px;
}

.language_compo {
  background-color: rgb(109, 232, 191);
  color: rgb(7, 56, 69);
}

.AddMore {
  width: 5vh;
  height: 5vh;
  font-size: 20px;
  background-color: greenyellow;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.recentQuestion {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  /* justify-content: center; */
  align-items: center;
height: 45vh;
}

.questions {
  margin-top: 15vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2vh;
  height: 4vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.questionList {
  padding: 1vh 2vh;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(201, 243, 255);
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.community_stats {
  width: 100%;
  margin-top: 1vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  text-align: start;
}

.community_stats h3 {
  align-self: center;
  margin-bottom: 3px;
}

.community_stats h4 {
  display: flex;
  gap: 1vw;
}

.social_media {
  margin-top: 1vh;
  padding: 2vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.social_media img {
  width: 3vh;
  height: 3vh;
  border-radius: 0;
}

.linkedin,
.github {
  align-items: center;
  cursor: pointer;
  gap: 2vw;
}

.linkedin:hover img,
.github:hover img {
  transform: scale(1.2);
}
/* Home.css */

.questionList:hover{
background-color: rgb(123, 198, 219);
}

.profile_section h5{
   font-size: 16px;
   margin: 2px auto;
   font-weight: 400;
}