.Library {
  width: 95%;
  display: flex;
  align-items: center;
}

.Library button {
  background-color: #046c4f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Library button:hover {
  background-color: #03966a;
}

.Library img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 2px solid black;
  cursor: pointer;
}

.Library img:hover {
  width: 29px;
  height: 29px;
}

.mystack {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.mystackpost {
  width: 100%;
  background-color: rgb(238, 252, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.yourpost {
  border-radius: 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
 
 margin: 10px auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: transform 0.2s ease-in-out;
}

.yourpost:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.postdatetime {
  background-color: #b4ecc0;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  display: inline-block;
}

.yr_ques {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  padding: 8px;
  margin: 8px 0;
}
.yr_ques:hover{
  border-color: black;
}

.bottomyrpost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pubpri,
.socialreach,
.editdelete {
  display: flex;
  align-items: center;
}

.pubpri p,
.editdelete button {
  margin-top: 5px;
  color: #333;
  font-weight: bold;
}

.pubpri p:first-child {
  color: #007bff;
}

.pubpri p:last-child {
  color: #dc3545;
}

.socialreach span {
  margin: 0 10px;
}

.socialreach img {
  width: 22px;
  margin-right: 5px;
}

.editdelete {
  margin-left: auto;
}

.editdelete button {
  color: #fff;

  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s ease;
}


.edityrpost {
  background-color: #007bff;
}
.edityrpost:hover{
  background-color: #005dc0;
}

.deleteyrpost {
  background-color: #dc3545;
}

.deleteyrpost:hover {
  background-color: #a32419;
}
.public {
  color: #03966a; /* Green color for Public */
}

.private {
  color: #dc3545; /* Red color for Private */
}
